/*===[common]===============================================*/
body {position:relative;}
.thin {font-family:'Roboto';font-weight:100;}
.regular{font-family:'Roboto';font-weight:400;}
/*---[tesxt]---*/

/*===[header]===============================================*/
header {position:fixed;width:250px;height:100%;background:#414755; box-sizing:border-box;}
header p.logo{margin-top:30px;margin-bottom:20px;color:#fff;text-align:center;}
header p.ip {padding:10px;color:#fff; text-align:center;}
header time {display:block;min-height:40px;padding:20px;color:#ccc;font-size:24px;text-align:center;}
/*---[nav]---*/
header nav {display:block;padding:20px;color:#fff;}
header nav a {position:relative;display:block;padding:5px 10px;font-size:14px; }
header nav a:hover {text-decoration:underline;}
header nav a:after { position:absolute;right:0;content:'>';}
header nav dl {margin-bottom:30px;}
header nav dl dt {display:block;margin-bottom:10px;padding:10px;border-bottom:1px solid #fff;font-size:18px;}
/*===[article]===============================================*/
body > article {width:100%;padding-left:250px;box-sizing:border-box;}
